body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.center {
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input {
  background: #fafafa;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

input:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #ccc;
  }

  input {
    background: #222;
    border: 1px solid #333;
    color: #ccc;
  }
}
